.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.item {

}

.link {
    color: #000;
    opacity: 0.5;
    font-weight: 500;

    &:hover {
        opacity: 1;
    }
}